body {
    font-family: 'Lexend';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff
}

canvas {
    width: 100%;
    /* border: 1px solid black; */
    /* margin-top: 20px; */
    transform: translateY(-20px);
}

audio {
    margin-top: 20px;
}
.waitroom-title{
    display: inline-block;
    position: relative;
    font-family: 'Lexend';
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 8px;
    color: var(--color-secondary-dark);
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}
.waitroom-timer{
    position: absolute;

    font-family: 'Lexend';
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 8px;
    color: var(--color-secondary-dark);
    text-align: center;
    margin: 0px;
}

#waitroom-timer-wrapper{
    position: relative;
    margin-bottom: 0px;
    margin-top: 70px;
}

.timer-1{
    transform: translateX(-50%);
}
.timer-2{
    transform: translateX(calc(-50%/0.95)) translateY(5px);
    scale: 0.95;
    opacity: 0.3;
}
.timer-3{
    transform: translateX(calc(-50%/0.90)) translateY(10px);
    scale: 0.90;
    opacity: 0.2;
}
.timer-4{
    transform: translateX(calc(-50%/0.85)) translateY(15px);
    scale: 0.85;
    opacity: 0.1;
}

#note-button{
    position: absolute;
    top: 10px;
    right: -50px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 0px;
    background-color: var(--color-secondary-glow);
    color: var(--color-secondary-dark);
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    font-size: 14px;
}

#note-button:hover{
    background-color: var(--color-secondary);
    color: white;
    transition: background-color 0.0s, color 0.0s;
}

#waitroom-title-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px var(--color-secondary-glow) dashed;
    padding-bottom: 15px;
}