#logo{
    text-align: center;
}
.timer {
    font-size: 150px;
    margin: 20px 0;
    width: 610px;
}
button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--color-main-light);
    color: white;
}
#set-icon {
    position: relative;
    font-size: 1.5rem;
    padding-top: 15px;
    padding-right: 40px;
    text-align: right;
    color: white;
}
.nav1{
    display: flex;
    justify-content: flex-end;
    gap: 30vw;
}
.settings{
    text-align: center;
    padding: 20px;
    padding-top: 5px;
    position: absolute;
    right: 70px;
    top: 170px;
    border: var(--color-secondary-dark) 5px solid; 
    border-radius: 20px;   
    background-color: var(--color-main-white);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.all-wrapper{
    display: flex;
    margin-top: 25vh;
    justify-content: space-around;
}
#price-list-wrapper{
    padding: 30px;
    padding-left: 50px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-120px);
}

#price-list-title{
    font-family: 'Lexend';
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 20px;
    color: var(--color-secondary-dark);
    border-bottom: 2px var(--color-secondary-dark) dashed;
    padding-bottom: 15px;
    width: 500px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
    transform: translateX(25px);
}
#price-list-items-wrapper{
    border-spacing: 0 10px;
}
#price-list-items-wrapper th{
    width: 130px;
    text-align: center;
    font-family: 'Lexend';
    font-size: 25px;
    font-weight: 500;
    color: var(--color-secondary-dark);
}

#price-list-items-wrapper td{
    padding: 0px;
}

#price-list-row-a{
    margin: 20px;
    margin-inline: 0px;
    padding: 0px;
}
#price-list-item-a-wrapper{
    background-color: #30cf7e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#price-list-item-a{
    margin: 0px;
    margin-right: 40px;
    padding: 10px;
    background-color: #30cf7e;
    border-radius: 5px;
    font-family: 'Lexend';
    font-size: 50px;
    font-weight: 500;
    color: black;
    text-align: center;
}

#price-list-a-buy{
    background-color: #30cf7e;
    font-family: 'Lexend';
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: 700;
}
#price-list-a-solve{
    background-color: #30cf7e;
    font-family: 'Lexend';
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: 700;
}
#price-list-a-sell{
    background-color: #30cf7e;
    font-family: 'Lexend';
    font-size: 30px;
    text-align: center;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 700;
}



#price-list-row-b{
    margin: 20px;
    margin-inline: 0px;
    padding: 0px;
}
#price-list-item-b-wrapper{
    background-color: #3eb1df;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#price-list-item-b{
    margin: 0px;
    margin-right: 40px;
    padding: 10px;
    background-color: #3eb1df;
    border-radius: 5px;
    font-family: 'Lexend';
    font-size: 50px;
    font-weight: 500;
    color: black;
    text-align: center;
}

#price-list-b-buy{
    background-color: #3eb1df;
    font-family: 'Lexend';
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: 700;
}
#price-list-b-solve{
    background-color: #3eb1df;
    font-family: 'Lexend';
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: 700;
}
#price-list-b-sell{
    background-color: #3eb1df;
    font-family: 'Lexend';
    font-size: 30px;
    text-align: center;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 700;
}



#price-list-row-c{
    margin: 20px;
    margin-inline: 0px;
    padding: 0px;
}
#price-list-item-c-wrapper{
    background-color: #e45528;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#price-list-item-c{
    margin: 0px;
    margin-right: 40px;
    padding: 10px;
    background-color: #e45528;
    border-radius: 5px;
    font-family: 'Lexend';
    font-size: 50px;
    font-weight: 500;
    color: black;
    text-align: center;
}

#price-list-c-buy{
    background-color: #e45528;
    font-family: 'Lexend';
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: 700;
}
#price-list-c-solve{
    background-color: #e45528;
    font-family: 'Lexend';
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: 700;
}
#price-list-c-sell{
    background-color: #e45528;
    font-family: 'Lexend';
    font-size: 30px;
    text-align: center;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 700;
}
.timer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-80px);
}
#timer-title{
    font-family: 'Lexend';
    font-size: 30px;
    font-family: 700;
}