
.editor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* border-bottom: var(--color-secondary-light) dashed 2px; */
    /* background-color: green; */

}
.editor-header::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-bottom: 2px dashed var(--color-secondary-dark);
    mask-image: linear-gradient(to right, black 0%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 0%, black 80%, transparent 100%);
}

.editor-header #title{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: 'Lexend';
    color: var(--color-secondary-dark);
    font-weight: 400;
}
#main-content{
    display: flex;
    flex-direction: row;
}
.container{
    overflow: hidden;
}

#problem-owner-selector{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 2px solid var(--color-secondary-dark);
    border-right: 2px solid var(--color-secondary-dark);
    border-bottom: 2px solid var(--color-secondary-dark);
    border-top-right-radius: 10px;
    margin: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 10px;
    gap: 10px;
    background-color: var(--color-black-white);
}
#problem-selector-my{
    font-family: 'Lexend';
    font-size: 13px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    text-align: center;
    padding: 5px;
    padding-inline: 20px;
    border: 2px solid var(--color-secondary-dark);
    border-radius: 5px;
    background-color: white;
    transition: all 0.3s ease-out;
}
#problem-selector-my:hover{
    background-color: var(--color-secondary-dark);
    color: white;
    transition: all 0.0s;
}
#problem-selector-my.selected{
    background-color: var(--color-secondary-dark);
    color: white;
}
#problem-selector-all{
    font-family: 'Lexend';
    font-size: 13px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    text-align: center;
    padding: 5px;
    padding-inline: 20px;
    border: 2px solid var(--color-secondary-dark);
    border-radius: 5px;
    background-color: white;
    transition: all 0.3s ease-out;
}
#problem-selector-all:hover{
    background-color: var(--color-secondary-dark);
    color: white;
    transition: all 0.0s;
}
#problem-selector-all.selected{
    background-color: var(--color-secondary-dark);
    color: white;
}

#save-changes-button{
    font-family: 'Lexend';
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    text-align: center;
    padding: 5px;
    padding-inline: 15px;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    margin-right: 30px;
}
#save-changes-button:hover{
    background-color: white;
    transition: all 0.0s;
}
#save-changes-button.unsaved{
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
    color: white;
}
#save-changes-button.unsaved:hover{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-light);
}

#problem-selector{
    width: 220px;
    min-width: 220px;
    padding: 10px;
    padding-inline: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid var(--color-secondary-dark);
    background-color: var(--color-black-white);
}
#problem-selector-wrapper{
    overflow-y: auto;
}
.problem-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px dashed var(--color-secondary-dark);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-inline: 10px;
}
#problem-section-a{
    background: linear-gradient(to top, #24cb8033 0%, transparent 100%);
}
#problem-section-b{
    background: linear-gradient(to bottom, #3eb1df33 0%, transparent 50%),
                linear-gradient(to top, #3eb1df33 0%, transparent 50%);
}
#problem-section-c{
    background: linear-gradient(to bottom, #e12f6a33 0%, transparent 100%);
}
.problem-selector-item{
    padding-top: 5px;
    padding-bottom: 5px;
}
.problem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-secondary-dark);
    border-radius: 5px;
    padding: 3px;
    padding-inline: 6px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease-out;
}
.selected.problem{
    background-color: var(--color-secondary-dark);
}
.another.problem{
    border-color: #009bc2;
}
.free.problem{
    border-color: #a1bfca;
}
.problem-selector-title{
    font-family: 'Lexend';
    font-size: 14px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    margin: 0px;
    transition: color 0.3s ease-out;
}
.another .problem-selector-title{
    color: #009bc2;
}
.free .problem-selector-title{
    color: #a1bfca;
}
.problem-selector-rank{
    font-family: 'Lexend';
    font-size: 20px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    transform: translateY(-2px);
    margin: 0px;
    transition: color 0.3s ease-out;
}
.another .problem-selector-rank{
    color: #009bc2;
}
.free .problem-selector-rank{
    color: #a1bfca;
}
.problem:hover{
    background-color: var(--color-secondary-dark);
    transition: background-color 0.0s;
}
.problem:hover h2{
    color: white;
    transition: color 0.0s;
}
.selected .problem-selector-title{
    color: white;
}
.selected .problem-selector-rank{
    color: white;
}

#problem-section-c{
    border-bottom: none;
}

#problem-list-controlls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 0px;
    border-top: 2px solid var(--color-secondary-dark);
    background-color: var(--color-black-white);
    border-bottom-right-radius: 10px;
}
#problems-add{
    border: 2px solid var(--color-secondary-dark);
    border-radius: 5px;
    padding: 5px;
    padding-inline: 20px;
    font-family: 'Lexend';
    font-size: 13px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#problems-add:hover{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-light);
    color: white;
    transition: all 0.0s;
}
#problems-delete{
    border: 2px solid var(--color-secondary-dark);
    border-radius: 5px;
    padding: 5px;
    padding-inline: 20px;
    font-family: 'Lexend';
    font-size: 13px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#problems-delete:hover{
    background-color: #e12f56;
    border-color: #ee4980;
    color: white;
    transition: all 0.0s;
}
.disabled#problems-delete{
    color: black;
    border-color: lightgrey;
    cursor: not-allowed;
    background-color: white;
    opacity: 0.5;
}

#problem-editor-left{
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 0px;
    gap: 20px;
    flex-grow: 1;
    border-right: 2px dashed var(--color-secondary-dark);
}
#problem-editor-setup-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#problem-title-input{
    font-family: 'Lexend';
    font-size: 15px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    background-color: var(--color-black-white);
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin: 0px;
    transition: all 0.1s ease-out;
    outline: none;
    flex-grow: 1;
}
#problem-title-input::placeholder{
    color: #a6a9aa;
    font-weight: 500;
    transition: color 0.1s ease-out;
}
#problem-title-input:focus{
    border-color: var(--color-secondary);
    background-color: var(--color-secondary-white);
    transition: all 0.0s;
}
#problem-title-input:focus::placeholder{
    color: #9dbcc5;
}

#problem-rank-selector{
    position: relative;
}
#problem-rank-selector-button{
    border: 2px solid #9dbcc5;
    border-radius: 5px;
    padding: 2px;
    padding-inline: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--color-black-white);
    cursor: pointer;
    transition: all 0.3s ease-out;
    user-select: none;
}
#problem-rank-selector-button:hover{
    background-color: var(--color-secondary-white);
    border-color: var(--color-secondary-light);
    transition: all 0.0s;
}
.oppened #problem-rank-selector-button{
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
}
#problem-rank-selector-rank{
    font-family: 'Lexend';
    font-size: 20px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    margin: 0px;
    transform: translateY(-2px);
}
.oppened #problem-rank-selector-rank{
    color: white;
}
#problem-rank-selector-icon{
    font-size: 25px;
    color: var(--color-secondary-dark);
    transform: rotate(180deg);
    transition: all 0.3s ease-out;
}
.oppened #problem-rank-selector-icon{
    color: white;
    transform: rotate(0deg);
    transition: all 0.3s ease-out;
}
#problem-rank-selector-dropdown{
    position: absolute;
    left: 5px;
    top: 32.5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #bacfd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: calc(100% - 20px - 10px);
    max-height: 0px;
    padding: 0px;
    padding-inline: 10px;
    transition: all 0.3s ease-out;
    overflow: hidden;
}
.oppened #problem-rank-selector-dropdown{
    max-height: 100px;
    padding: 5px;
    padding-inline: 10px;
}
.problem-rank-dropdown-item{
    font-family: 'Lexend';
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: var(--color-secondary-dark);
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.problem-rank-dropdown-item:hover{
    color: white;
    background-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
.selected.problem-rank-dropdown-item{
    color: white;
    background-color: var(--color-secondary-dark);
}

#problem-type-selector{
    position: relative;
}
#problem-type-selector-button{
    border: 2px solid #9dbcc5;
    border-radius: 5px;
    padding: 2px;
    padding-inline: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--color-black-white);
    cursor: pointer;
    transition: all 0.3s ease-out;
    user-select: none;
}
#problem-type-selector-button:hover{
    background-color: var(--color-secondary-white);
    border-color: var(--color-secondary-light);
    transition: all 0.0s;
}
.oppened #problem-type-selector-button{
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
}
#problem-type-selector-type{
    font-family: 'Lexend';
    font-size: 20px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    margin: 0px;
    transform: translateY(-2px);
}
.oppened #problem-type-selector-type{
    color: white;
}
#problem-type-selector-icon{
    font-size: 25px;
    color: var(--color-secondary-dark);
    transform: rotate(180deg);
    transition: all 0.3s ease-out;
}
.oppened #problem-type-selector-icon{
    color: white;
    transform: rotate(0deg);
    transition: all 0.3s ease-out;
}
#problem-type-selector-dropdown{
    position: absolute;
    left: 5px;
    top: 32.5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #bacfd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: calc(100% - 20px - 10px);
    max-height: 0px;
    padding: 0px;
    padding-inline: 10px;
    transition: all 0.3s ease-out;
    overflow: hidden;
}
.oppened #problem-type-selector-dropdown{
    max-height: 100px;
    padding: 5px;
    padding-inline: 10px;
}
.problem-type-dropdown-item{
    font-family: 'Lexend';
    font-size: 17px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: var(--color-secondary-dark);
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.problem-type-dropdown-item:hover{
    color: white;
    background-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
.selected.problem-type-dropdown-item{
    color: white;
    background-color: var(--color-secondary-dark);
}

#problem-content-textarea{
    flex-grow: 1;
    resize: none;
    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    background-color: var(--color-black-white);
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin: 0px;
    transition: all 0.1s ease-out;
    outline: none;
}
#problem-content-textarea::placeholder{
    color: #a6a9aa;
    font-weight: 500;
    transition: color 0.1s ease-out;
}
#problem-content-textarea:focus{
    border-color: var(--color-secondary);
    background-color: var(--color-secondary-white);
    transition: all 0.0s;
}
#problem-content-textarea:focus::placeholder{
    color: #9dbcc5;
}

#problem-solution-input{
    font-family: 'Lexend';
    font-size: 14px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    background-color: var(--color-black-white);
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin: 0px;
    transition: all 0.1s ease-out;
    outline: none;
}
#problem-solution-input::placeholder{
    color: #a6a9aa;
    font-weight: 500;
    transition: color 0.1s ease-out;
}
#problem-solution-input:focus{
    border-color: var(--color-secondary);
    background-color: var(--color-secondary-white);
    transition: all 0.0s;
}
#problem-solution-input:focus::placeholder{
    color: #9dbcc5;
}

#problem-editor-right{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-out;
    flex-grow: 1;
    padding: 30px;
    padding-top: 0px;
    max-width: 700px;
}

#editor-type-selector{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    user-select: none;
}
.editor-type{
    font-family: 'Lexend';
    font-size: 14px;
    font-weight: 500;
    color: #c0d5dd;
    background-color: white;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    border-radius: 0px;
    padding: 3px;
    padding-inline: 6px;
    transition: all 0.3s ease-out;
}
.editor-type.selected{
    color: var(--color-secondary-dark);
    border-bottom: 2px solid var(--color-secondary-dark);
    font-weight: 700;
    transition: all 0.0s;
}
.editor-type:hover{
    color: var(--color-secondary-dark);
    transition: all 0.0s;
}

#generationeditor-wrapper{
    position: relative;
    background-color: var(--color-black-white);
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 0px;
    flex-grow: 1;
    overflow: hidden;
}
#generationeditor-command-input{
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px - 20px - 4px);
    height: 20px;
    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    background-color: white;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin: 0px;
    outline: none;
    transition: all 0.3s ease-out;
    z-index: 1;
}
#generationeditor-command-input::placeholder{
    color: #a6a9aa;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.0s ease-out;
    user-select: none;
}
#generationeditor-command-input:focus{
    border-color: var(--color-secondary);
    background-color: var(--color-secondary-white);
    transition: all 0.3s;
}
#generationeditor-command-input:focus::placeholder{
    color: #9dbcc5;
}
.error#generationeditor-command-input{
    border-color: #e12f56;
    background-color: #ddb6c3;
    color: #e12f56;
    transition: all 0.0s;
}
.success#generationeditor-command-input{
    border-color: #20c276;
    background-color: #a6dbc2;
    color: #20c276;
    transition: all 0.0s;
}

#generationeditor-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 800px;
    width: 800px;
    /* box-sizing: border-box;
    width: 100%;
    height: 100%; */

}

#table-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    gap: 0px;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    background-color: var(--color-black-white);
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    /* max-height: 300px; */
    overflow-y: auto;

}
.small#table-wrapper{
    max-height: 300px;
}
#table-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#table-wrapper::-webkit-scrollbar-track {
    background: var(--color-black-white);
    border-radius: 10px;
}
#table-wrapper::-webkit-scrollbar-thumb {
    background-color: #c0d5dd;
    border-radius: 10px;
}
#table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary);
}

#table{
    background-color: var(--color-black-white);
    border: none;
    padding: 0px;
    border-collapse: collapse;
    width: 100%;
}
thead{
    position: sticky;
    top:0px;
    background-color: var(--color-black-white);
    border-bottom: 2px solid #c0d5dd;
    z-index: 1;
}
tr{
    border-bottom: 2px solid #c0d5dd;
}

th, td{
    border-right: 2px solid #c0d5dd;
    padding: 5px;
    text-align: center;
    font-family: 'Lexend';
    font-size: 12px;
    color: var(--color-secondary-dark);
    transition: all 0.3s ease-out;
}

tbody tr{
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-out;
}
tbody tr:hover{
    background-color: var(--color-secondary-glow);
    transition: all 0.0s;
}
tbody tr:hover td{
    border-right: var(--color-secondary-light) solid 2px;
    transition: all 0.0s;
}
tr.selected{
    background-color: var(--color-secondary-light) !important;
    transition: all 0.0s;
}
tr.selected td{
    border-right: var(--color-secondary-glow) solid 2px !important;
    transition: all 0.0s;
}

th:last-child, td:last-child{
    border-right: none !important;
}
#table-controlls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    position: sticky;
    bottom: 0px;
    background-color: var(--color-black-white);
}
#table-add{
    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    background-color: white;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin: 0px;
    transition: all 0.3s ease-out;
    outline: none;
}
#table-add:hover{
    color: white;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-light);
    transition: all 0.0s;
}
.disabled#table-add{
    color: #c0d5dd;
    background-color: white;
    border-color: #c0d5dd;
    transition: all 0.0s;
    cursor: not-allowed;
}
#table-edit{
    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    background-color: white;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin: 0px;
    transition: all 0.3s ease-out;
    outline: none;
}
#table-edit:hover{
    color: white;
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
.disabled#table-edit{
    color: #c0d5dd;
    background-color: white;
    border-color: #c0d5dd;
    transition: all 0.0s;
    cursor: not-allowed;
}
.active#table-edit{
    color: white;
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
    transition: all 0.3s;
}
.active#table-edit:hover{
    color: white;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-light);
    transition: all 0.0s;
}

#table-reassign{
    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    background-color: white;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin: 0px;
    transition: all 0.3s ease-out;
    outline: none;
}
#table-reassign:hover{
    color: white;
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
.disabled#table-reassign{
    color: #c0d5dd;
    background-color: white;
    border-color: #c0d5dd;
    transition: all 0.0s;
    cursor: not-allowed;
}

#table-delete{
    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    background-color: white;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin: 0px;
    transition: all 0.3s ease-out;
    outline: none;
}
#table-delete:hover{
    color: white;
    background-color: #e12f56;
    border-color: #ee4980;
    transition: all 0.0s;
}
.disabled#table-delete{
    color: #c0d5dd;
    background-color: white;
    border-color: #c0d5dd;
    transition: all 0.0s;
    cursor: not-allowed;
}

#finallook-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
}
#finallook-title{
    font-family: 'Lexend';
    font-size: 25px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    margin: 0px;
    padding-left: 10px;
}
#finallook-text{
    font-family: 'Lexend';
    font-size: 13px;
    color: var(--color-secondary-dark);
    margin: 0px;
    padding: 10px;
    flex-grow: 1;
}
#finallook-answer{
    font-family: 'Lexend';
    font-size: 16px;
    color: var(--color-secondary-dark);
    margin: 0px;
    padding: 10px;
}
#finallook-image{
    display: block;
    border-radius: 10px;
    overflow: hidden;
    object-fit: contain;
}
#finallook-controlls-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
#add-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Lexend';
    font-size: 14px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    background-color: white;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 10px;
    padding-inline: 20px;
    margin: 0px;
    transition: all 0.3s ease-out;
    outline: none;
}
#add-image:hover{
    color: white;
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-light);
    transition: all 0.0s;
}
#add-image p{
    margin: 0px;
}

#regenerate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Lexend';
    font-size: 14px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    background-color: white;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 10px;
    padding-inline: 20px;
    margin: 0px;
    transition: all 0.3s ease-out;
    outline: none;
}
#regenerate:hover{
    color: white;
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
#regenerate p{
    margin: 0px;
}
#remove-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Lexend';
    font-size: 14px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    background-color: white;
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    padding: 10px;
    padding-inline: 20px;
    margin: 0px;
    transition: all 0.3s ease-out;
    outline: none;
}
#remove-image:hover{
    color: white;
    background-color: #e12f56;
    border-color: #ee4980;
    transition: all 0.0s;
}
#remove-image p{
    margin: 0px;
}

.disabled#remove-image, .disabled#regenerate, .disabled#add-image{
    color: black;
    border-color: lightgrey;
    cursor: not-allowed;
    background-color: white;
    opacity: 0.5;
}

.latex-styled .MJX-TEX{
    font-size: 25px;
    background-color: #e3f8ff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
/* 
.editing td{
    display: flex;
    flex-direction: row;
} */

.editing input{
    font-size: 12px;
    background-color: var(--color-black-white);
    padding: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    border: 2px solid #c0d5dd;
    width: calc(100% - 40px);
    flex-grow: 1;
    font-family: 'Lexend';
    color: var(--color-secondary-dark);
    transition: all 0.1s ease-out;
}

.editing input:focus{
    border-color: var(--color-secondary-dark);
    outline: none;
    background-color: var(--color-secondary-white);
    transition: all 0.0s;
}

#problem-filter-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px dashed #a0b5bd;
}
#problem-filter-type-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}
.problem-filter-type-button{
    font-family: 'Lexend';
    font-size: 13px;
    font-weight: 500;
    color: #99b7c4;
    background-color: transparent;
    border-radius: 0px;
    padding: 3px;
    padding-inline: 10px;
    margin: 0px;
    transition: all 0.3s ease-out;
    outline: none;
}
.problem-filter-type-button:hover{
    color: var(--color-secondary-dark);
    transition: all 0.0s;
}
.selected.problem-filter-type-button{
    color: var(--color-secondary-dark);
    font-weight: 700;
    border-bottom: 2px solid var(--color-secondary-dark);
}
#problem-filter-input{
    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    border: 2px solid #a1bfca;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
    margin: 0px;
    margin-bottom: 5px;
    transition: all 0.3s ease-out;
    outline: none;
    width: calc(100% - 40px);
}
#problem-filter-input::placeholder{
    font-weight: 700;
    font-size: 12px;
    color: #a6a9aa;
    transition: all 0.3s ease-out;
}
#problem-filter-input:focus{
    border-color: var(--color-secondary);
    background-color: var(--color-secondary-white);
    transition: all 0.0s;
}
#problem-filter-input:focus::placeholder{
    color: #9dbcc5;
    transition: all 0.0s;
}

#problem-color-legend-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
}
.problem-color-legend-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.problem-color-legend-item p{
    margin: 0px;
    font-size: 11px;
    font-family: 'Lexend';
    color: var(--color-secondary-dark);
}
.problem-color-legend-item div{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#problem-color-legend-my{
    background-color: var(--color-secondary-dark);
}
#problem-color-legend-free{
    background-color: #a1bfca;
}
#problem-color-legend-another{
    background-color: #009bc2;
}

#author-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
#author-name{
    font-family: 'Lexend';
    font-size: 13px;
    color: var(--color-secondary-dark);
    margin: 0px;
}
#change-author-button{
    font-family: 'Lexend';
    font-size: 13px;
    padding: 3px;
    padding-inline: 6px;
    color: var(--color-secondary-dark);
    text-align: center;
    border: 2px solid #c0d5dd;
    transition: all 0.3s ease-out;
}
#change-author-button:hover{
    background-color: var(--color-secondary-dark);
    color: white;
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}

#reassign-wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reassign-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 250px;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-secondary-white);
    border: 2px solid #c0d5dd;
    transition: all 0.3s ease-out;
    z-index: 1;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
}
#assign-catories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 10px;
    border-bottom: 2px dashed #c0d5dd;
}
.table-category{
    padding: 5px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #c0d5dd;
    transition: all 0.3s ease-out;
}
.table-category:hover{
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
.active.table-category{
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
.table-category-name{
    font-family: 'Lexend';
    font-size: 14px;
    color: var(--color-secondary-dark);
    font-weight: 700;
    margin: 0px;
    min-height: 14px;
}
.table-category:hover .table-category-name{
    color: white;
    transition: all 0.0s;
}
.active .table-category-name{
    color: white;
    transition: all 0.0s;
}

#add-category{
    font-family: 'Lexend';
    font-size: 13px;
    padding: 3px;
    padding-inline: 6px;
    color: var(--color-secondary-dark);
    font-weight: 700;
    text-align: center;
    border: 2px solid #c0d5dd;
    background-color: white;
    transition: all 0.3s ease-out;
}
#add-category:hover{
    background-color: var(--color-secondary-dark);
    color: white;
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
#add-category-name{
    font-family: 'Lexend';
    width: 180px;
    font-size: 13px;
    padding: 3px;
    padding-inline: 6px;
    color: var(--color-secondary-dark);
    border: 2px solid #c0d5dd;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
#add-category-name:focus{
    background-color: var(--color-secondary-white);
    border-color: var(--color-secondary-light);
    outline: none;
    transition: all 0.0s;
}

.table-group-title h2{
    margin: 0px;
    font-family: 'Lexend';
    font-size: 20px;
    color: var(--color-secondary-dark);
    font-weight: 700;
    text-align: center;
}
.table-group-title td{
    background-image: linear-gradient(to top, rgba(0,0,0,0.02) 0%, rgba(255,255,255,1) 20%);
    padding-top: 10px;
    border-bottom: 2px solid #9ec5d4;
}

#infinity-selector{
    position: relative;
    height: 33px;
    border: 2px solid #9dbcc5;
    width: 60px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
#infinity-selector:hover{
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
.active#infinity-selector{
    background-color: var(--color-secondary-dark);
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
#infinity-selector-one{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: var(--color-secondary-dark);
    opacity: 1;
    transition: opacity 0.3s ease-out;
}
#infinity-selector:hover #infinity-selector-one{
    opacity: 0;
    transition: opacity 0.0s;
}
.active #infinity-selector-one{
    opacity: 0;
    transition: opacity 0.0s;
}

#infinity-selector-infinity{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

#infinity-selector:hover #infinity-selector-infinity{
    opacity: 1;
    transition: opacity 0.0s;
}
.active #infinity-selector-infinity{
    opacity: 1;
    transition: opacity 0.0s;
}

#assign-row{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
}
#contest-change-button{
    font-family: 'Lexend';
    font-size: 13px;
    padding: 3px;
    padding-inline: 6px;
    color: var(--color-secondary-dark);
    text-align: center;
    border: 2px solid #c0d5dd;
    transition: all 0.3s ease-out;
}
#contest-change-button:hover{
    background-color: var(--color-secondary-dark);
    color: white;
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}

#contest-select-dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 50px;
    z-index: 5;
    background-color: var(--color-secondary-white);
    border: 2px solid #c0d5dd;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    width: 200px;
    transform: translate(calc(-50% + 66px), 0);
}

.contest-selector-item{
    font-family: 'Lexend';
    font-size: 14px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    text-align: center;
    border: 2px solid #c0d5dd;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
.contest-selector-item:hover{
    background-color: var(--color-secondary-dark);
    color: white;
    border-color: var(--color-secondary-dark);
    transition: all 0.0s;
}
.contest-selector-item.selected{
    background-color: var(--color-secondary-glow);
    color: var(--color-secondary-dark);
    border-color: var(--color-secondary-light);
    transition: all 0.3s ease-out;
}