.archive-title{
    font-size: 50px;
    font-weight: 600;
    margin: auto;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: var(--color-main) solid;
}

.archive-wrapper{
    display: flex;
}
.year-selector{
    display: flex;
    flex-direction: column;
    border: var(--color-main-light) solid 5px;
    margin: 50px;
    background-color: var(--color-main-white);
    flex-grow: 2;
}

.year-button{
    font-family: 'Lexend';
    font-size: 30px;
    font-weight: 600;
    padding-inline: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    border: var(--color-main-light) solid 3px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    cursor: pointer;
}

.year-button-covid{
    font-family: 'Lexend';
    color: gray;
    font-size: 30px;
    font-weight: 600;
    padding-inline: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    border: gray solid 3px;
    background-color: lightgray;
    border-radius: 10px;
    cursor: not-allowed;
}

.year-button:hover{
    font-family: 'Lexend';
    font-size: 30px;
    font-weight: 600;
    padding-inline: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    border: var(--color-main-light) solid 3px;
    background-color: var(--color-secondary-light);
    border-radius: 10px;
}
.year-button i{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.current-year-button{
    font-family: 'Lexend';
    font-size: 30px;
    font-weight: 600;
    padding-inline: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: var(--color-secondary-glow);
    margin: 20px;
    border: var(--color-main-light) solid 3px;
    border-radius: 10px;
}

.current-year-button:hover{
    font-family: 'Lexend';
    font-size: 30px;
    font-weight: 600;
    padding-inline: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: white;
    margin: 20px;
    border: var(--color-main-light) solid 3px;
    border-radius: 10px;
}

.current-year-button i{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.archive-year {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

.archive{
    border-left: var(--color-secondary) dashed 5px;
    font-family: 'Lexend';
    flex-grow: 8;
    max-width: calc(100vw-410px);
}

.year-title{
    padding: 30px;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    background-color: #d5f5ff;
}

.online-round{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 50px;
}

.online-round h1{
    margin-left: 7vw;
}

.online-round-covid{
    padding-left: 100px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 400px;
}

.normal-round{
    margin: 0;
    padding-top: 25px;
    background-color: var(--color-main-white);
}

.normal-round h1{
    margin-left: 7vw;
}

.normal-round h2{
    margin-left: 7vw;
}

.placement-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 10vw;
    max-width: 60vw;
    font-size: 20px;
    text-align: center;
    justify-content: space-evenly;
    padding-bottom: 35px;
}

.first-place{
    /* border-top: gold solid 3px; */
    /* border-radius: 3px; */
    color: gold;
    font-size: 35px;
    font-weight: 600;
    /* padding-top: 15px; */
    margin-bottom: 15px;
}

.second-place{
    /* border-top: silver solid 3px; */
    /* border-radius: 3px; */
    color: silver;
    font-size: 30px;
    font-weight: 600;
    /* padding-top: 15px; */
    margin-bottom: 15px;
    margin-top: 40px;
}

.third-place{
    /* border-top: brown solid 3px; */
    /* border-radius: 3px; */
    color: brown;
    font-size: 25px;
    font-weight: 600;
    /* padding-top: 15px; */
    margin-bottom: 15px;
    margin-top: 45px;
}

.place-name{
    font-size: 20px;
    color: var(--color-main);
    border-top: #d5f5ff 2px solid;
    margin: 10px;
    padding-top: 15px;
    font-weight: 600;
}

.image-gallery{
    padding-inline: 5vw;
    padding-top: 20px;
    background-color: white;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3vw;
    max-width: 70vw;
    padding-bottom: 50px;
    margin: auto;
    width: 60vw;
}

.images img{
    border: #d5f5ff solid 2px;
    border-radius: 3px;
    width: calc(100vw-700px);
    max-width: 300px;
    aspect-ratio: 1/1;
}

.more-button{
    padding-bottom: 50px;
}

.more-button a{
    display: block;
    margin: auto;
    border: var(--color-main) solid 5px;
    background-color: var(--color-main);
    border-radius: 20px;
    height: 30px;
    width: 40vw;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
}

@media (max-width: 1100px) {
    .year-selector {
      display: none;
    }
  
    
    .archive-year {
      max-height: none;
      overflow: visible; 
    }
    .archive{
        border: none;
    }
  }
  