.tasks{
    margin-left: 50px;
    margin-bottom: 50px;
}

.tasks p{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.tasks h2{
    margin-bottom: 30px;
}

.task-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}

@media (max-width: 700px){
    .tasks{
        margin-left: 0;
    }
}