.about-list p{
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.about-list h2{
    font-size: 30px;
}

.about-title{
    margin-left: -5%;
}

@media (max-width: 700px){
    .about-title, .about-list p{
        margin-left: 0;
    }
}