.reg-flex{
    margin-inline: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

#summary-title{
    /* font-weight: 500; */
    font-family: 'Lexend';
    padding-bottom: 20px;
    width: 300px;
    margin-bottom: 70px;
    margin-left: 10%;
}
@media (max-width: 700px){
    #summary-title{
        margin-left: 10%;
    }
}

@media (max-width:400px){
    #summary-title{
        margin-left: 5%;
    }
}


.card{
    border: 10px solid;
    border-radius: 10px;
    max-width: 300px;
}

.summary-card-title{
    margin: 25px;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: #000 dashed 3px;
    font-weight: 500;
    font-family: 'Lexend';
}

.summary-card-content{
    font-family: 'Lexend';
    font-size: 18px;
    margin: 25px;
    margin-top: 30px;
}

.summary-card-button-wrapper-grid{
    margin: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: grid;
    grid-template: 
        'button'
        'text';
}

.summary-card-button{
    cursor: pointer;
    font-family: 'Lexend';
    font-size: 23px;
    font-weight: 500;
    padding: 13px;  
    padding-inline: 15px;
    border-radius: 10px;
    color: white;
    padding-top: 10px;
    grid-area: button;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.card-main{
    border-color: var(--color-main);
    box-shadow: 0px 0px 10px 0px var(--color-main-glow) inset;
    background-image: repeating-linear-gradient(
        45deg,
        #e7e4fa 0,
        #e7e4fa 10%,

        transparent 11%,
        transparent 100%

      );
    background-size: 25px 25px;

}

.card-play{
    border-color: #2593be;
    box-shadow: 0px 0px 10px 0px var(--color-secondary-glow) inset;
    background-image: repeating-linear-gradient(
        45deg,
        #e4f1fa 0,
        #e4f1fa 10%,

        transparent 11%,
        transparent 100%

      );
    background-size: 25px 25px;

}
.summary-card-button-dark-blue{
    background-color: var(--color-main);
    transition: all 0.3s ease-out;

}
.summary-card-button-light-blue{
    background-color: #2593be;
    transition: all 0.3s ease-out;
}

.summary-card-button-dark-blue:hover{
    background-color: #3c1fe2;
    box-shadow: 0px 0px 20px 0px #907cff7e;
    transition: all 0s;
}
.summary-card-button-light-blue:hover{
    background-color: #1fa6db;
    box-shadow: 0px 0px 20px 0px #37baee7e;
    transition: all 0s;
}

.summary-card-timer-wrapper {
    height: 1.5em;  /* Set to fit the height of one line of text */
    overflow: hidden;
    position: relative;
}


.summary-card-button-gray{
    background-color: #a7a7a7;
    cursor: not-allowed;
}

.summary-card-timer-icon{
    text-align: center;

}
.summary-card-timer-text-wrapper{
    /* position: absolute; */
    font-family: 'Lexend';
    font-size: 13px;
    margin-left: 5px;
    margin-top: 0;
    /* width: 100px; */
    top: 3px;
    grid-area: text;
    height: 17px;
    overflow: hidden;
}

.summary-card-timer-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3px;
}
.summary-card-sliding-text{
    position: relative;
}

.summary-card-sliding-text-up{
    top: 0;
    transition: all 0.3s ease-out;
}

.summary-card-sliding-text-down{
    top: -16px;
    transition: all 0.3s ease-out;

}