
.grid-main-a{
    display: grid;
    grid-template:
        'ma0 ma0 ma0 ma0'
        'ma1 ma2 ma3 ma4'; 
        
}

.main-a-element{
    font-size: 18px;
    max-width: 400px;
    margin-inline: 10%;
}

.grid-main-b{
    padding-left: 15%;
    max-width: 100vw;
    padding-right: 5%;
    background-color: var(--color-main-white);
    padding-top: 20px;
    padding-bottom: 60px;
    display: grid;
    grid-template: 
    'mb0'
    'mb1'
    'mb2'
    'mb3'
}

.grid-main-c{  
    display: grid;
    padding-left: 15%;
    max-width: 100vw;
    padding-right: 5%;
    padding-top: 40px;
    grid-template: 
        'mc0 mc0'
        'mc1 mc2';
    justify-content: start;
    column-gap: 10vw;
}

.main-c{
    background-color: white
}
.main-c-element{
    max-width: 500px;
    margin-left: 30px;
}

.main-b-element{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
    margin-left: 30px;
}

.more-tasks-button{
    cursor: pointer;
    font-family: 'Lexend';
    font-size: 23px;
    font-weight: 500;
    padding: 13px;  
    padding-inline: 15px;
    border-radius: 10px;
    color: white;
    background-color: var(--color-main);
    padding-top: 10px;
    width: 200px;
    margin: auto;
    transition: all 0.3s ease-out;
}

.task-button{
    padding-left: 15%;
    padding-right: 5%;
    display: flex;
    justify-content: start;
    padding-bottom: 50px;
    padding-top: 50px;
}

.button-block{
    width: 38%;
    max-width: 530px;
}
.more-tasks-button:hover{
    background-color: #3c1fe2;
    box-shadow: 0px 0px 20px 0px #907cff7e;
    transition: all 0s;
}

.main-a-content{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 5%;
    background-color: var(--color-main-white);
    padding-top: 20px;
    padding-bottom: 60px;
    gap: 30px;
}

.video{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.video span{
    margin-right: 2vw;
}

.video b{
    margin-left: 2vw;
}

@media (max-width: 1100px){
    .grid-main-c, .task-button{
        padding-left: 5%;
    }
    .grid-main-a{
        margin-left: 5%;
    }
    
}
#leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 2px white solid;
    padding: 10px;
    /* gap: 10px; */
    box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.7);
    height: 600px;
    overflow-y: auto;
    margin-inline: 5%;
}

.leaderboard-wrapper{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 50px;
}

.team-row{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 12px;
    margin-inline: 0px;
    padding-inline: 10px;
    padding-bottom: 12px;
    border-bottom: 2px dashed #a6b8be;
}
.team-row:last-child {
    border-bottom: none;
}
#leaderboard-container > .team-row:nth-of-type(15) {
    border-bottom: 2px solid #a6b8be;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(100, 208, 241, 0.13));
    
}

.team-row-name{
    font-family: 'Lexend';
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    color: var(--color-secondary-dark);
    flex: 1;
    margin-left: 15px;
}
.team-row-money{
    font-family: 'Lexend';
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    color: var(--color-secondary-dark);
    flex: 1;
}
.team-row-rank{
    font-family: 'Lexend';
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    color: var(--color-secondary-dark);
    flex: 1;
    margin-right: 15px;
}

@media (max-width: 700px){
    .grid-main-a{
        grid-template: 
        'ma0'
        'ma1'
        'ma2'
        'ma3'
        'ma4'
    }
    .main-a-content{
        padding-left: 5%;
        gap: 50px;
    }
    .grid-main-c{
        grid-template: 
        'mc0'
        'mc1'
        'mc2'
        'mc3'
    }
    .grid-main-b{
        padding-left: 5%;
    }
    .main-b-element{
        max-width: 100vw;
    }
    #summary-title{
        margin-left: 10%;
    }
    .button-block{
        display: none;
    }
    .task-button{
        justify-content: center;
    }
    .m-c2{
        margin-top: 60px;
    }
    .video{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        max-width: 400px;
    }
    .leaderboard-wrapper{
        margin-left: 5%;
        margin-right: 5%;
    }
    #leaderboard-container{
        margin-inline: 0;
    }
    .team-row{
        width: 78vw;
    }
    .team-row-name{
        font-size: 12px;
    }
    .team-row-money{
        font-size: 16px;
    }
    .team-row-rank{
        font-size: 16px;
        flex: 0.5;
    }
}
@media (max-width:300px){
    .m-b0{
        font-size: 12vw
    }
}
.section-title{
    margin-top: 10px;
}
