
.grid-main-a{
    display: grid;
    grid-template:
        'ma0 ma0 ma0 ma0'
        'ma1 ma2 ma3 ma4'; 
        
}

.main-a-element{
    font-size: 18px;
    max-width: 400px;
    margin-inline: 10%;
}

.grid-main-b{
    padding-left: 15%;
    max-width: 100vw;
    padding-right: 5%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 60px;
    display: grid;
    grid-template: 
    'mb0'
    'mb1'
    'mb2'
    'mb3'
}

.grid-main-c{  
    display: grid;
    padding-left: 15%;
    max-width: 100vw;
    padding-right: 5%;
    padding-top: 40px;
    grid-template: 
        'mc0 mc0'
        'mc1 mc2';
    justify-content: start;
    column-gap: 10vw;
}

.main-c{
    background-color: var(--color-main-white)
}
.main-c-element{
    max-width: 500px;
    margin-left: 30px;
}

.main-b-element{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
    margin-left: 30px;
}

.more-tasks-button{
    cursor: pointer;
    font-family: 'Lexend';
    font-size: 23px;
    font-weight: 500;
    padding: 13px;  
    padding-inline: 15px;
    border-radius: 10px;
    color: white;
    background-color: var(--color-main);
    padding-top: 10px;
    width: 200px;
    margin: auto;
    transition: all 0.3s ease-out;
}

.task-button{
    padding-left: 15%;
    padding-right: 5%;
    display: flex;
    justify-content: start;
    padding-bottom: 50px;
    padding-top: 50px;
}

.button-block{
    width: 38%;
    max-width: 530px;
}
.more-tasks-button:hover{
    background-color: #3c1fe2;
    box-shadow: 0px 0px 20px 0px #907cff7e;
    transition: all 0s;
}

.main-a-content{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 5%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 60px;
    gap: 30px;
}

.video{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.video span{
    margin-right: 2vw;
}

.video b{
    margin-left: 2vw;
}

@media (max-width: 1100px){
    .grid-main-c, .task-button{
        padding-left: 5%;
    }
    .grid-main-a{
        margin-left: 5%;
    }

}

@media (max-width: 700px){
    .grid-main-a{
        grid-template: 
        'ma0'
        'ma1'
        'ma2'
        'ma3'
        'ma4'
    }
    .main-a-content{
        margin-left: 5%;
        gap: 50px;
    }
    .grid-main-c{
        grid-template: 
        'mc0'
        'mc1'
        'mc2'
        'mc3'
    }
    .grid-main-b{
        padding-left: 5%;
    }
    .main-b-element{
        max-width: 100vw;
    }
    #summary-title{
        margin-left: 10%;
    }
    .button-block{
        display: none;
    }
    .task-button{
        justify-content: center;
    }
    .m-c2{
        margin-top: 60px;
    }
    .video{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        max-width: 400px;
    }
}
@media (max-width:300px){
    .m-b0{
        font-size: 12vw
    }
}
.section-title{
    margin-top: 10px;
}