.button-white{
    background-color: var(--color-lightgray);
    transition: background-color, 0.2s ease-out;
}
.button-white:hover{
    background-color: var(--color-main-white);
    transition: background-color, 0s;
}



#basics{
    padding: 20px;
    height: 300px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    line-height: 60px;
    margin-right: 50px;
}
