@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
:root{
    /* font-family: 'Lexend'; */
    font-family: system-ui;
    --color-main: #3118ba; /*#39CE84*/
    --color-main-light: #4c33da;
    --color-main-white: #f8f7ff;
    --color-main-dark: #231b75;
    --color-main-glow: #907cff7e;

    --color-secondary: #2593be;
    --color-secondary-light: #3eb1df;
    --color-secondary-white: #f2fcff;
    --color-secondary-dark: #0f455a;
    --color-secondary-glow: #7cdaff7e;

    --color-black: #000000;
    --color-black-light: #333333;
    --color-black-white: #f3f3f3;
    --color-black-glow: #0000007e;
    
    --color-lightgray: #ebe8f7;
    --color-gray: #353538;

    padding: 0px;
    margin: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* appearance: textfield; */
}

body{
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
    /* background-color: rgb(0, 183, 255); */
}

h1{
    font-size: 40px;
    font-weight: 900;
}
h2{
    font-size: 25px;
    font-weight: 700;
}
h3{
    font-size: 18px;
    font-weight: 600;
}

button{
    outline: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 12px;
    font-family: 'Lexend';
}

/* a{
    text-decoration: none;
    color: var(--color-main-white);
    font-size: 19px;
    font-weight: 600;
    margin: 20px;
}
a:hover{
    color: white;
} */

.nav-element{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
}
.footer-element1 {grid-area: f1}
.footer-element2 {grid-area: f2}
.footer-element3 {grid-area: f3}
.footer-element4 {grid-area: f4}
.nav1 {grid-area: n1}
.nav2 {grid-area: n2}
.nav3 {grid-area: n3}
.nav4 {grid-area: n4}
.nav5 {grid-area: n5}
.header1 {grid-area: h1}
.header2 {grid-area: h2}
.m-a0 {grid-area: ma0}
.m-a1 {grid-area: ma1}
.m-a2 {grid-area: ma2}
.m-a3 {grid-area: ma3}
.m-b0 {grid-area: mb0}
.m-b1 {grid-area: mb1}
.m-b2 {grid-area: mb2}
.m-b3 {grid-area: mb3}
.m-c0 {grid-area: mc0}
.m-c1 {grid-area: mc1}
.m-c2 {grid-area: mc2}
.m-c3 {grid-area: mc3}
.reg0 {grid-area: reg0}
.reg1 {grid-area: reg1}
.reg2 {grid-area: reg2}


.header1 {
    max-width: 700px;
    margin: 5%;
    margin-left: 10vw;
    min-width: 30vw;
    height: 300px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    line-height: 60px;
}
.header2{
    margin: auto;
    max-width: 45vw;
    padding-right: 5vw;
}

.reg-grid{
    display: grid;
    grid-template:
        'reg0 reg0' 
        'reg1 reg2';
    margin: auto;
    width: 60vw;
    margin-top: 3%;
    margin-bottom: calc(28vh - 5vw);
}
.reg-flex{
    margin-inline: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}



.reg-element{
    margin: auto;
}

.grid-header{
    display: grid;
    max-width: 100vw;
    grid-template: 'h1 h2';
}

.grid-nav{
    display: grid;
    grid-template: 'n1 n2 n3 n4 n5';
    text-align: center;
}
.grid-footer{
    display: grid;
    max-width: 100vw;
    grid-template: 
        'f1 f2 f3 f4';
}

.grid-main-a{
    margin-left: 20%;
    margin-right: 5%;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 100px;
    display: grid;
    grid-template:
        'ma0 ma0 ma0'
        'ma1 ma2 ma3'; 
        
}

.main-a-element{
    font-size: 18px;
    max-width: 400px;
    margin-inline: 10%;
}

.grid-main-b{
    padding-left: 20%;
    max-width: 100vw;
    padding-right: 5%;
    background-color: var(--color-main-white);
    padding-top: 40px;
    padding-bottom: 100px;
    display: grid;
    grid-template: 
    'mb0'
    'mb1'
    'mb2'
    'mb3'
}

.grid-main-c{
    margin-left: 20%;
    margin-right: 5%;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 100px;
    display: grid;
    grid-template: 
        'mc0 mc0 mc0'
        'mc1 mc2 mc3';
}

.main-c-element{
    max-width: 400px;
    margin-left: 30px;
}

.main-b-element{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
    margin-left: 30px;
}
.footer-element{
    margin-inline: 10%;
    max-width: 300px;
    min-width: 160px;
    width: 20vw;
}
#summary-title{
    /* font-weight: 500; */
    font-family: 'Lexend';
    padding-bottom: 20px;
    width: 300px;
    margin-bottom: 70px;
    margin-left: 10%;
}

@media (max-width: 1400px){
    .reg-grid{
        width: 80vw;
    }
}
@media (max-width: 1100px){
    .header1{
        margin: auto;
    }
    .header2{
        margin: auto;
        max-width: 90vw;
        padding: 0px;
    }
    .grid-main-c{
        margin-left: 5%;
    }
    .grid-main-a{
        margin-left: 5%;
    }
    .grid-header{
        grid-template: 
            'h1'
            'h2'
    }
    .grid-footer{
        grid-template: 
            'f1 f2'
            'f3 f4';
    }
    .footer-element{
        width: 40vw;
        margin-inline: auto;
    }
    .grid-nav{
        grid-template:
            'n1 n1 n1 n1'
            'n2 n3 n4 n5'
    }
    #logo{
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    /* #navbar{
        border-bottom: var(--color-main-light) 2px solid;
    } */
    .reg-grid{
        width: 90vw;
        margin-bottom: 10vh;
    }
}

@media (max-width: 900px){
    .reg-grid{
        grid-template:
            'reg0' 
            'reg1'
            'reg2';
        width: 60vw;
    }
}
@media (max-width: 700px){
    .grid-main-a{
        grid-template: 
        'ma0'
        'ma1'
        'ma2'
        'ma3'
    }
    .grid-main-c{
        grid-template: 
        'mc0'
        'mc1'
        'mc2'
        'mc3'
    }
    .grid-main-b{
        padding-left: 5%;
    }
    .main-b-element{
        max-width: 100vw;
    }
    .grid-header{
        grid-template: 
            'h1'
            'h2'
    } 
    .header2{
        max-width: 80vw;
    }      
    .header1{
        min-width: 80%;
        font-size: 40px;
        line-height: 55px;
        height: auto;
        margin: auto;
        max-width: 80vw;
    }
    .grid-footer{
        grid-template: 
            'f1' 
            'f2'
            'f3'
            'f4';
    }
    .grid-nav{
        grid-template:
            'n1'
            'n2'
            'n3'
            'n4'
            'n5' ;
    }
    .footer-element{
        margin: auto;
        width: 70vw;
    }
    .nav-element{
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: var(--color-main-light) 2px solid;
    }
    .nav-element-play{
        border-top: var(--color-secondary-light) 2px solid;
    }
    #logo{
        margin-bottom: 20px;
        width: 80%;
        max-width: 446px;
        height: auto;
    }
    .nav2{
        border: none;
    }
    .reg-grid{
        width: 90vw;
    }
    #summary-title{
        margin-left: 10%;
    }
}

@media (max-width:400px){
    #summary-title{
        margin-left: 5%;
    }
}

@media (max-width:300px){
    .m-b0{
        font-size: 12vw
    }
    .header1{
        font-size: 14vw;
        line-height: 17vw;
    }
}


.nav-element::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 2px;
    margin-inline: 5px;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
.nav-element::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 2px;
    margin-inline: 5px;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
.nav-element:hover::after{
    transform: translateY(-10px);
    opacity: 1;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
.nav-element:hover::before{
    transform: translateY(10px);
    opacity: 1;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}


.button-white{
    background-color: var(--color-lightgray);
    transition: background-color, 0.2s ease-out;
}
.button-white:hover{
    background-color: var(--color-main-white);
    transition: background-color, 0s;
}

.row-segment-wave{
    /* width: 100vw; */
    padding-top: 45px;
    margin: 0px;
}

.row-segment{
    /* width: 100vw; */
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}  
.flex{
    display: flex;
}

.center-content{
    justify-content: center;
    align-items: center;
}

.center{
    justify-content: center;
}

.inline{
    display: inline-block;
}

#title{
    margin-bottom: 100px;
}

.margin-left{
    margin-left: 50px;
}
.margin-top{
    margin-top: 50px;
}


.width-500{
    width: 500px;
}
.width-300{
    width: 300px;
}

.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}


#main{
    font-family: 'Lexend';
}

.color-background-main{
    background-color: var(--color-main);
}
.color-background-white{
    background-color: var(--color-main-white);
}
.color-background-lightgray{
    background-color: var(--color-lightgray);
}
.color-background-gray{
    background-color: var(--color-gray);
}
.color-background-black{
    background-color: var(--color-black);
}
.color-background-secondary{
    background-color: var(--color-secondary);
}


.color-text-main{
    color: var(--color-main);
}
.color-text-white{
    color: var(--color-main-white);
}
.color-text-lightgray{
    color: var(--color-lightgray);
}
.color-text-gray{
    color: var(--color-gray);
}
.color-text-black{
    color: var(--color-black);
}



#logo{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -user-drag: none;
    cursor: pointer;
}


/* #navbar{
    border-bottom: var(--color-main-light) 2px solid;
}
#navbar-secondary{
    border-bottom: var(--color-secondary-light) 2px solid;
} */

#basics{
    padding: 20px;
    height: 300px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    line-height: 60px;
    margin-right: 50px;
}

.section-title{
    margin-top: 10px;
}

.mw-400{
    max-width: 400px;
}
.mw-300{
    max-width: 300px;
}
.m-100{
    margin-inline: 100px;
}
.m-50{
    margin-inline: 50px;;
}
.m-30{
    margin-inline: 30px;
}

.m-20{
    margin-inline: 20px;
}

.m-10{
    margin-inline: 10px;
}

.mv-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mv-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mv-100{
    margin-top: 100px;
    margin-bottom: 100px;
}

.blue-top{
    border-top: 4px var(--color-main) solid;
    border-radius: 4px;
    padding-top: 10px;
}

.blue-bottom{
    border-bottom: 4px var(--color-main) solid;
    border-radius: 4px;
    padding-bottom: 10px;
}
.blue-left {
    border-left: 4px var(--color-main) solid;
    border-radius: 4px;
    padding-left: 10px;
}
.gray-top{
    border-top: 3px var(--color-gray) solid;
    border-radius: 3px;
    padding-top: 5px;
}

.gray-section{
    padding-left: 20%;
    background-color: var(--color-main-white);
    padding-top: 40px;
    padding-bottom: 100px;
    padding-right: 15%;
}
.white-section{
    padding-left: 20%;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 100px;
    padding-right: 15%;
}
.black-section{
    /* padding-left: 20%; */
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 40px;
    padding-bottom: 100px;
    width: 100%;
    font-family: 'Lexend';
    margin: 0;
}

.f-20{
    font-size: 20px;
}
.f-18{
    font-size: 18px;
}






.big-border-left {
    border-left: 4px var(--color-main) solid;
    border-radius: 4px;
    padding-left: 20px;
}

.icon{
    margin-inline: 3px;
    font-size: 16px;
}

.link{
    font-weight: 900;
    text-decoration: none;
    color: black;
}
.link::after {
    content: '\f35d'; 
    font-family: 'Font Awesome 6 Free'; 
    font-weight: 1000; 
    font-size: 0.9em; 
    margin-left: 0.2em; 
    display: inline-block;
    vertical-align: middle;
    color: #000;
    padding-bottom: 3px;
}

.container{
    max-width: 3000px; /* Adjust this value as necessary */
    margin: 0 auto; /* Centers the container */
    /* padding: 0 20px; Adds some padding on the sides */
    min-height: 100vh;
}

#this_year_canvas{
    background-color: white;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 120px;
}

.form-default{

    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    padding: 20px;
}
.form-default h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Lexend';
}

.form-main{
    background-color: var(--color-main-white);
    border: var(--color-main-light) 2px solid;
}
.form-main h2{
    color: var(--color-main-dark);
    border-bottom: var(--color-main-light) dashed 3px;
}

.form-play{
    background-color: var(--color-secondary-white);
    border: var(--color-secondary-light) 2px solid;
}
.form-play h2{
    color: var(--color-secondary-dark);
    border-bottom: var(--color-secondary-light) dashed 3px;
}

.form-admin{
    background-color: var(--color-black-white);
    border: var(--color-black-light) 2px solid;
}
.form-admin h2{
    color: var(--color-black-dark);
    border-bottom: var(--color-black-light) dashed 3px;
}


#register-caerd #search-container{
    position: relative;
    display: inline-block;
}

.region{
    fill: none;
    stroke: #8b7be7;
    stroke-width: 2px;
}

.region-selector-ready{
    fill: #8b7be700;
    stroke: #8b7be7;
    stroke-width: 2px;
    transition: fill 0.5s ease-out;
}
.region-selector-hover{
    fill: #8b7be738;
    stroke: #8b7be7;
    stroke-width: 2px;
    transition: fill 0s;

}

.region-selector-hidden{
    fill: none;
    stroke: none;
}

.region-selector-notready{
    fill: #8b7be700;
    stroke: #8b7be736;
    stroke-width: 2px;
    transition: stroke 0.5s ease-out;
}

.district-selector-selected{
    fill: #73c7e979;
    stroke: #7bc5e7;
    stroke-width: 2px;
}



.subregion{
    stroke-width: 0.5px;
}

#return-button{
    position: absolute;
    top: 20px;
    left: 10px;
    height: 30px;
    width: 30px;
    padding: 0px;
    background-color: #543ed4;

}

#return-button i{
    font-size: 20px;
    margin: 0px;
    color: #f3f1ff;
}

.return-button-shown{
    display: block;
}

.return-button-hidden{
    display: none;

}


/* #summary-wrapper{
    border-top: #000 solid 3px;
} */

.card{
    border: 10px solid;
    border-radius: 10px;
    max-width: 300px;
}

.summary-card-title{
    margin: 25px;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: #000 dashed 3px;
    font-weight: 500;
    font-family: 'Lexend';
}

.summary-card-content{
    font-family: 'Lexend';
    font-size: 18px;
    margin: 25px;
    margin-top: 30px;
}

.summary-card-button-wrapper-grid{
    margin: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: grid;
    grid-template: 
        'button'
        'text';
}

.summary-card-button{
    cursor: pointer;
    font-family: 'Lexend';
    font-size: 23px;
    font-weight: 500;
    padding: 13px;  
    padding-inline: 15px;
    border-radius: 10px;
    color: white;
    padding-top: 10px;
    grid-area: button;
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.card-main{
    border-color: var(--color-main);
    box-shadow: 0px 0px 10px 0px var(--color-main-glow) inset;
    background-image: repeating-linear-gradient(
        45deg,
        #e7e4fa 0,
        #e7e4fa 10%,

        transparent 11%,
        transparent 100%

      );
    background-size: 25px 25px;

}

.card-play{
    border-color: #2593be;
    box-shadow: 0px 0px 10px 0px var(--color-secondary-glow) inset;
    background-image: repeating-linear-gradient(
        45deg,
        #e4f1fa 0,
        #e4f1fa 10%,

        transparent 11%,
        transparent 100%

      );
    background-size: 25px 25px;

}
.summary-card-button-dark-blue{
    background-color: var(--color-main);
    transition: all 0.3s ease-out;

}
.summary-card-button-light-blue{
    background-color: #2593be;
    transition: all 0.3s ease-out;
}

.summary-card-button-dark-blue:hover{
    background-color: #3c1fe2;
    box-shadow: 0px 0px 20px 0px #907cff7e;
    transition: all 0s;
}
.summary-card-button-light-blue:hover{
    background-color: #1fa6db;
    box-shadow: 0px 0px 20px 0px #37baee7e;
    transition: all 0s;
}

.summary-card-timer-wrapper {
    height: 1.5em;  /* Set to fit the height of one line of text */
    overflow: hidden;
    position: relative;
}


.summary-card-button-gray{
    background-color: #a7a7a7;
    cursor: not-allowed;
}

.summary-card-timer-icon{
    text-align: center;

}
.summary-card-timer-text-wrapper{
    /* position: absolute; */
    font-family: 'Lexend';
    font-size: 13px;
    margin-left: 5px;
    margin-top: 0;
    /* width: 100px; */
    top: 3px;
    grid-area: text;
    height: 17px;
    overflow: hidden;
}

.summary-card-timer-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3px;
}
.summary-card-sliding-text{
    position: relative;
}

.summary-card-sliding-text-up{
    top: 0;
    transition: all 0.3s ease-out;
}

.summary-card-sliding-text-down{
    top: -16px;
    transition: all 0.3s ease-out;

}


.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#register-inner-wrapper{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 20px;
    font-family: 'Lexend';
}

.register-label{
    font-size: 20px;
    margin-bottom: 10px;
}
.register-label-small{
    font-size: 17px;
}

.text-input{
    border-radius: 4px;
    height: 20px;
    font-family: 'Lexend';
    font-size: 15px;
    padding-inline: 4px;
    outline: none;
    margin-bottom: 20px;
    max-width: 200px;
    width: 80%;
}
.number-input{
    border-radius: 4px;
    height: 25px;
    width: 25px;
    font-family: 'Lexend';
    font-size: 15px;
    outline: none;
    margin-bottom: 3px;
    text-align: center;
    padding: 0px;
}
.school-input{
    border-radius: 4px;
    height: 20px;
    font-family: 'Lexend';
    font-size: 15px;
    padding-inline: 4px;
    outline: none;
    margin-bottom: 3px;
    width:calc(100% - 12px);
}

.input-main{
    border: var(--color-main-light) 2px solid;
    transition: border-color 0.3s ease-out;
}
.input-main:focus{
    border: var(--color-main) 2px solid;
    transition: border-color 0s;
}

.input-play{
    border: var(--color-secondary-light) 2px solid;
    transition: border-color 0.3s ease-out;
}
.input-play:focus{
    border: var(--color-secondary) 2px solid;
    transition: border-color 0s;
}

.input-admin{
    border: var(--color-black-light) 2px solid;
    transition: border-color 0.3s ease-out;
}
.input-admin:focus{
    border: var(--color-black) 2px solid;
    transition: border-color 0s;
}


#player-name-selector-top-wrapper{
    /* margin-top: 50px; */
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: #000000 2px solid;
}

#school-selector-top-wrapper{
    /* max-width: 800px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: #bdb4f1 2px solid;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.no-arrows {
    -moz-appearance: textfield;
}

/* To handle general appearance if needed */
.no-arrows {
    appearance: none;
}
#school-dropdown-icon{
    cursor: pointer;
    font-size: 20px;
}

.school-dropdown-icon-normal{
    transform: rotate(0deg) translateY(5px);
    transition: transform 0.2s ease-out;
}
.school-dropdown-icon-toggle{
    transform: rotate(180deg) translateY(5px);
    transition: transform 0.2s ease-out;
}


#register-players-dropdown-icon{
    cursor: pointer;
    font-size: 20px;
    color: #6853e0;
}
.register-players-dropdown-icon-normal{
    transform:rotate(0deg) translateY(5px);
    transition: transform 0.2s ease-out;
}

.register-players-dropdown-icon-toggle{
    transform:rotate(180deg) translateY(5px);
    transition: transform 0.2s ease-out;

}

#player-name-selector-wrapper{
    margin-top: 0px;
    overflow: hidden;
    padding-top: 20px;
    margin-bottom: 50px;
}

.player-name-selector-wrapper-normal{
    max-height: 0px;
    transition: max-height 0.5s ease-out;
}
.player-name-selector-wrapper-toggle{
    max-height: 250px;
    transition: max-height 0.5s ease-out;
}

#school-selector-wrapper{
    max-width: 600px;
    margin-top: 0px;
    overflow: hidden;
    padding-top: 20px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
}

.school-selector-wrapper-normal{
    max-height: 0px;
    transition: max-height 0.5s ease-out;
}
.school-selector-wrapper-toggle{
    max-height: 350px;
    transition: max-height 0.5s ease-out;
}


.player-name-input-wrapper{
    display: flex;
    flex-direction:row;
    justify-content: left;
    gap: 10px;
    color: #404040;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 75%;
    max-width: 600px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 400px;
    overflow-y: scroll;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #8b7be7; 
    transition: background-color 0.3s ease-out;

}

.autocomplete-items div:hover {
    background-color: #e1dcfa; 
    transition: background-color 0s;
}

.autocomplete-active {
    background-color: #4b31db !important; 
    color: #ffffff; 
}

#register-button{
    max-width: 200px;
    font-family: 'Lexend';
    font-size: 20px;
    color: white;
}


.email-input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: left;
    row-gap: 5px;
    column-gap: 20px;
    
    flex-wrap: wrap;
}

.email-check-code-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}

.mail-check-input{
    height: 21px;
    width: 21px;
}

#mail-check-button{
    height: 26px;
    border: none;
    padding: 2px;
    padding-right: 5px;
    padding-left: 10px;
    background-color: #543ed4;
    color: white;
}

.fa-arrow-right-from-bracket{
    margin-left: 5px;
    margin-right: 2px;
}

#email-sent-message{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Lexend';
    color:#414141
}

.hidden{
    display: none;
}

.correct-code{
    border-color: #64ceff;
    background-color: #7bc5e731;
}

.register-button-disabled{
    background-color: #636363 !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
}

.navbar-main{
    background-color: var(--color-main);
    border-bottom: var(--color-main-light) 2px solid;
}

.navbar-play{
    background-color: var(--color-secondary);
    border-bottom: var(--color-secondary-light) 2px solid;
}

.navbar-admin{
    background-color: var(--color-black);
    border-bottom: var(--color-gray) 2px solid;
}

.submit-button-main{
    
    max-width: 200px;
    font-family: 'Lexend';
    font-size: 20px;
    color: white;
    background-color: var(--color-main);
    transition: all 0.3s ease-out;
    
}
.submit-button-main:hover{
    background-color: var(--color-main-light);
    box-shadow: 0px 0px 20px 0px var(--color-main-glow);
    transition: all 0s;
}

.submit-button-play{
    max-width: 200px;
    font-family: 'Lexend';
    font-size: 20px;
    color: white;
    background-color: var(--color-secondary);
    transition: all 0.3s ease-out;
}
.submit-button-play:hover{
    background-color: var(--color-secondary-light);
    box-shadow: 0px 0px 20px 0px var(--color-secondary-glow);
    transition: all 0s;
}

.submit-button-admin{
    max-width: 200px;
    font-family: 'Lexend';
    font-size: 20px;
    color: white;
    background-color: var(--color-black);
    transition: all 0.3s ease-out;
}
.submit-button-admin:hover{
    background-color: var(--color-black-light);
    box-shadow: 0px 0px 20px 0px var(--color-black-glow);
    transition: all 0s;
}

.border-main{
    border-color: var(--color-main-light) !important;
}
.border-play{
    border-color: var(--color-secondary-light) !important;
}
.border-admin{
    border-color: var(--color-black-light) !important;
}

.color-main{
    color: var(--color-main) !important;
}
.color-main-light{
    color: var(--color-main-light) !important;
}
.color-play{
    color: var(--color-secondary) !important;
}
.color-play-light{
    color: var(--color-secondary-light) !important;
}
.color-admin{
    color: var(--color-black) !important;
}
.color-admin-light{
    color: var(--color-black-light) !important;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-culumn{
    display: flex;
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}


.margin-10{
    margin: 10px;
}
.margin-20{
    margin: 20px;
}
.margin-30{
    margin: 30px;
}
.margin-40{
    margin: 40px;
}
.margin-50{
    margin: 50px;
}

.lexend{
    font-family: 'Lexend';
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-15{
    font-size: 15px;
}
.font-20{
    font-size: 20px;
}
.font-25{
    font-size: 25px;
}

.play-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border-bottom: var(--color-secondary-light) dashed 2px; */

}
.play-header::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-bottom: 2px dashed var(--color-secondary-light);
    mask-image: linear-gradient(to right, transparent 0%, transparent 20%, black 50%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, transparent 20%, black 50%, black 80%, transparent 100%);
    
}

.play-header #title{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: 'Lexend';
    color: var(--color-secondary-dark);
    font-weight: 400;
}
#clock{
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: -5px;
    font-size: 30px;
    font-family: 'Lexend';
    font-weight: 500;
    color: var(--color-secondary-dark);
    letter-spacing: -1px;
}


.separator{
    margin: 0px;
    margin-top: 3px;
}

.digit-slider{
    height: 35px;
    overflow: hidden;
}
.digit-wrapper{
    font-size: 30px;
    font-family: 'Lexend';
    font-weight: 500;
    color: var(--color-secondary-dark);
}

.digit-0-start{
    transform: translateY(0px);
    transition: transform 0.0s;
}
.digit-9{
    transform: translateY(-38px);
    transition: transform 0.3s;
}
.digit-8{
    transform: translateY(-76px);
    transition: transform 0.3s;
}
.digit-7{
    transform: translateY(-114px);
    transition: transform 0.3s;
}
.digit-6{
    transform: translateY(-152px);
    transition: transform 0.3s;
}
.digit-5{
    transform: translateY(-190px);
    transition: transform 0.3s;
}
.digit-4{
    transform: translateY(-228px);
    transition: transform 0.3s;
}
.digit-3{
    transform: translateY(-266px);
    transition: transform 0.3s;
}
.digit-2{
    transform: translateY(-304px);
    transition: transform 0.3s;
}
.digit-1{
    transform: translateY(-342px);
    transition: transform 0.3s;
}
.digit-0-end{
    transform: translateY(-380px);
    transition: transform 0.3s;
}

.digit-ten-0-start{
    transform: translateY(0px);
    transition: transform 0.0s;
}
.digit-ten-5{
    transform: translateY(-38px);
    transition: transform 0.3s;
}
.digit-ten-4{
    transform: translateY(-76px);
    transition: transform 0.3s;
}
.digit-ten-3{
    transform: translateY(-114px);
    transition: transform 0.3s;
}
.digit-ten-2{
    transform: translateY(-152px);
    transition: transform 0.3s;
}
.digit-ten-1{
    transform: translateY(-190px);
    transition: transform 0.3s;
}
.digit-ten-0-end{
    transform: translateY(-228px);
    transition: transform 0.3s;
}



.digit-wrapper p{
    margin: 0px;
}

#teams-board{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 300px;
    min-width: 300px;
}
#team-stats{
    display: flex;
    flex-direction: column;
    border-top: 2px var(--color-secondary-light) dashed;
    border-right: 2px var(--color-secondary-light) dashed;
    border-top-right-radius: 10px;
    align-items: center;
}
#team-name-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px var(--color-secondary-light) dashed;
}

#team-name-wrapper #team-name{
    color: var(--color-secondary-dark);
    font-family: 'Lexend';
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    margin-left: 15px;
}
#rank{
    font-family: 'Lexend';
    font-size: 18px;
    font-weight: 500;
    border: 2px var(--color-secondary-light) solid;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    min-width: 25px;
}

#team-balance{
    font-family: 'Lexend';
    font-size: 25px;
    font-weight: 800;
    color: var(--color-secondary-dark);
    margin: 10px;
}

#teams-problems{
    border-top: 2px var(--color-secondary-light) solid;
    border-right: 2px var(--color-secondary-light) solid;
    background-color: var(--color-secondary-white);
    overflow-y: auto;
}

.problem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 5px;
    border: 2px var(--color-secondary-light) solid;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease-out;

}
.problem:hover{
    background-color: var(--color-secondary-light);
    border-color: var(--color-secondary);
    transition: background-color border-color 0s;
}
.problem-focused{
    background-color: var(--color-secondary);
}
.problem-focused:hover{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary-light);
}
.problem-title{
    margin: 0px;
    font-family: 'Lexend';
    font-size: 25px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    margin-right: 10px;
    transition: color 0.3s ease-out;

}
.problem:hover .problem-title{
    color: white;
    transition: color 0s;
}
.problem-focused .problem-title{
    color: white;
}
.problem-rank{
    font-family: 'Lexend';
    font-size: 20px;
    font-weight: 800;
    color: var(--color-secondary-dark);
    margin: 0px;
    transition: color 0.3s ease-out;
    transform: translateY(-2px);
}
.problem:hover .problem-rank{
    color: white;
    transition: color 0s;
}
.problem-focused .problem-rank{
    color: white;
}

.occupied-icon{
    width: 14px;
    height: 14px;
    min-height: 14px;
    min-width: 14px;
    margin-left: 15px;
    border-radius: 7px;
    background-color: var(--color-secondary-light);
    margin-right: 5px;
    display: none;
    transition: background-color 0.3s ease-out;
}

.unseen-chat .occupied-icon{
    background-color: #1bd35b;
    display: block;
}
.problem:hover .occupied-icon{
    background-color: white;
    transition: background-color 0s;
}
.problem-focused .occupied-icon{
    background-color: white;
}
.problem-worked-on .occupied-icon{
    display: block;
}

#shop-actions-wrapper{
    border-top: 2px var(--color-secondary-light) dashed;
    border-right: 2px var(--color-secondary-light) solid;
    background-color: var(--color-secondary-white);
    height: 200px;
}

#buy-button-wrapper{
    padding: 15px;
}

#buy-button{
    background-color: var(--color-secondary);
    border: 2px var(--color-secondary-light) solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend';
    font-size: 20px;
    font-weight: 500;
    color: white;
    gap: 10px;
    transition: background-color 0.3s ease-out;
}

#buy-button:hover{
    background-color: var(--color-secondary-light);
    transition: background-color 0s;
}


.buy-button-open i{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}
.buy-button-close i{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

#buy-dropdown-wrapper{
    overflow: hidden;
    border: 2px var(--color-secondary-light) solid;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
}

.buy-button-close #buy-dropdown-wrapper{
    transform: translateY(-7px);
    max-height: 0px;
    transition: max-height 0.3s ease-out, transform 0.3s ease-out;
}
.buy-button-open #buy-dropdown-wrapper{
    max-height: 120px;
    transform: translateY(-5px);
    transition: max-height 0.3s ease-out, transform 0.3s ease-out;
}

.subbuy-button{
    background-color: white;
    border-radius: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: background-color 0.3s ease-out;
}
.subbuy-button:hover{
    background-color: var(--color-secondary-glow);
    transition: background-color 0s;
}

.buy-dropdown-difficulty{
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-secondary-dark);
}
.buy-description{
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-secondary);
}

.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}

#sell-action-wrapper{
    padding: 15px;
}

#sell-button{
    background-color: var(--color-secondary);
    border: 2px var(--color-secondary-light) solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend';
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: background-color 0.3s ease-out;
}
#sell-button:hover{
    background-color: var(--color-secondary-light);
    transition: background-color 0s;
}

#sell-information{
    font-family: 'Lexend';
    font-size: 12px;
    font-weight: 500;
    color: var(--color-secondary-dark);
    width: 94px;
}

#problem-wrapper{
    padding: 30px;
    padding-inline: 70px;
    position: relative;
}

#problem-title{
    font-family: 'Lexend';
    font-size: 35px;
    font-weight: 700;
    color: var(--color-secondary-dark);
}

#problem-content{
    font-family: 'Lexend';
    font-size: 20px;
    font-weight: 500;
    color: var(--color-secondary-dark);
}

#answer-input-wrapper{
    position: absolute;
    bottom: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#answer-input{
    width: 80%;
    height: 40px;
    outline: none;
    border: 2px var(--color-secondary-light) solid;
    border-radius: 30px;
    background-color: var(--color-secondary-white);
    padding-left: 15px;
    font-size: 15px;
    font-family: 'Lexend';
    color: var(--color-secondary-dark);
    font-weight: 800;
    padding-right: 42px;
}
#answer-input::placeholder{
    font-family: 'Lexend';
    font-size: 15px;
    color: #bad5dd;
}

#submit-answer-button{
    height: 34px;
    width: 34px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-40px);
    background-color: var(--color-secondary);
    font-size: 17px;
    color: white;
    transition: background-color 0.3s ease-out;
}

#submit-answer-button:hover{
    background-color: var(--color-secondary-light);
    transition: background-color 0s;
}

#help-center-wrapper{
    width: 300px;
    min-width: 300px;
    padding-top: 50px;
}

#help-center-title-wrapper{
    border-top: 2px var(--color-secondary-light) dashed;
    border-left: 2px var(--color-secondary-light) dashed;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#help-center-title{
    font-family: 'Lexend';
    font-size: 25px;
    font-weight: 700;
    color: var(--color-secondary-dark);
    margin: 10px;
}

#chat-wrapper{
    border-top: 2px var(--color-secondary-light) solid;
    border-left: 2px var(--color-secondary-light) solid;
    background-color: var(--color-secondary-white);
}

#conversation-wrapper{
    width: 100%;
    height: calc(100%-100px);
    max-height: calc(100%-100px);
    overflow-y: auto;
}

.conversation-row{
    margin: 15px;
    min-height: 30px;
    display: flex;
}

.conversation-message{
    display: inline-block;
    margin: 0px;
    padding: 8px;
    background-color: white;
    border: 2px var(--color-secondary-glow) solid;
    border-radius: 5px;
    font-family: 'Lexend';
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary-dark);
}
.message-my p{
    float: right;
    margin-left: 30px;
}
.message-their p{
    float: left;
    margin-right: 30px;
}

#chat-controlls-wrapper{
    position: absolute;
    height: 100px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 30px;
}

#chat-input{
    width: 200px;
    outline: none;
    background-color: white;
    border: 2px var(--color-secondary-light) solid;
    border-radius: 5px;
    resize: none;
    max-height: 92px;
    max-width: 200px;
    font-family: 'Lexend';
    font-size: 16px;
    padding-inline: 8px;
    color: var(--color-secondary-dark);
    font-weight: 700;
    text-wrap: wrap;
    overflow: hidden;
}

#chat-input::placeholder{
    color: #d6d6d6;
    font-weight: 500;
}

#send-message-button{
    background-color: var(--color-secondary);
    color: white;
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5
}

.bold{
    font-weight: 700;
}